body.vscode-dark {
  --proj-bg: linear-gradient(#09162933, #100b2b34);
  --open-btn-bg: #4586ff8c;
  --open-btn-color: #f1f1f1;
  --section-heading-color: #e7e7e7;
  --lang-color: #f1f1f1;
  --proj-border-color: #7c7c7c6c;
  --unstarred-fill: #d6d6d6;
}

body.vscode-light {
  --proj-bg: #eeeeee9c;
  --open-btn-bg: #1466ffc5;
  --open-btn-color: #f1f1f1;
  --section-heading-color: #1b1b1b;
  --lang-color: #f1f1f1;
  --proj-border-color: #b8b8b8a8;
  --unstarred-fill: #8f8f8f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

.msg-1 {
  text-align: center;
}

h1 {
  text-align: center;
}

.top-heading {
  font-size: 1.2rem;
  width: max-content;
  padding: 8px;
  margin: 0 auto;
  border-radius: 8px;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

input,
button {
  border: none;
}

button {
  cursor: pointer;
  &:hover {
    filter: brightness(90%);
  }
}

#project-sections-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  will-change: transform;
}

.projects-section {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .section-heading {
    color: var(--section-heading-color);
    font-style: italic;
    font-weight: normal;
    border-radius: 5px;
    padding: 5px 8px;
    width: max-content;
    border: 1px solid #535353a8;
    font-size: 0.8rem !important;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  .project {
    background: var(--proj-bg);
    border-radius: 10px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--proj-border-color);
    padding: 10px;

    .project-head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      
      .project-head-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .project-icon {
          border-radius: 4px !important;
        }
      }

      .project-btns {
        display: flex;
        gap: 4px;

        button {
          width: 22px;
          padding: 2px;
          background: none;
          color: blue;

          &.project-edit-btn path {
            fill: blue;
          }

          &.project-star-btn {
            &:not(.starred) {
              opacity: 0.7;

              &:hover {
                opacity: 1;
              }
            }

            svg path {
              fill: var(--unstarred-fill) !important;
            }

            &.starred svg path {
              fill: rgb(233, 217, 0) !important;
            }
          }
        }
      }
    }

    .languages {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .language {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        /* color: var(--lang-color); */

        .language-icon {
          width: 8px;
          display: flex;
          height: 8px;
          background: rgb(252, 252, 252);
          border-radius: 10px;

          &.html,
          &.xml {
            background: #e34c26;
          }

          &.css,
          &.scss,
          &.sass {
            background: #264de4;
          }

          &.js,
          &.jsx,
          &.mjs {
            background: yellow;
          }

          &.ts,
          &.tsx {
            background: #3178c6;
          }

          &.py {
            background: #3776ab;
          }

          &.java {
            background: #f89820;
          }

          &.cpp,
          &.cxx,
          &.cc {
            background: #00599c;
          }

          &.c {
            background: #a8b9cc;
          }

          &.cs {
            background: #68217a;
          }

          &.R,
          &.r {
            background-color: #276dc3;
          }

          &.go {
            background: #00add8;
          }

          &.rb {
            background: #cc342d;
          }

          &.php {
            background: #777bb3;
          }

          &.swift {
            background: #fa7343;
          }

          &.kt,
          &.kts {
            background: #7f52ff;
          }
        }
      }
    }
  }
}

.project-bottom {
  width: 100%;
  display: flex;
  margin-top: auto;

  .open-btn {
    background: var(--open-btn-bg);
    color: var(--open-btn-color);
    padding: 5px 10px;
    margin-left: auto;
    border-radius: 8px;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
