* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  background: rgb(24, 24, 24);
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  color: #f1f1f1;
}

.msg-1 {
  text-align: center;
}

h1 {
  text-align: center;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

input,
button {
  border: none;
}

button {
  cursor: pointer;
  &:hover {
    filter: brightness(90%);
  }
}

#project-sections-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .projects-section {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .section-heading {
      color: #e7e7e7;
      font-style: italic;
      font-weight: normal;
      border-radius: 5px;
      padding: 5px 8px;
      width: max-content;
      background-color: #2f263d;
      font-size: 0.8rem !important;
    }
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  .project {
    background: linear-gradient(#292431, #242931);
    border-radius: 10px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .project-head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .project-head-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }

      .project-btns {
        display: flex;
        gap: 4px;

        button {
          width: 22px;
          padding: 2px;
          background: none;
          color: blue;

          &.project-edit-btn path {
            fill: blue;
          }
        }
      }
    }

    .languages {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .language {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        color: #e0dfdf;

        .language-icon {
          width: 8px;
          display: flex;
          height: 8px;
          background: rgb(252, 252, 252);
          border-radius: 10px;

          &.html,
          &.xml {
            background: red;
          }

          &.css,
          &.scss,
          &.sass {
            background: rgb(24, 182, 255);
          }

          &.js,
          &.jsx,
          &.mjs {
            background: yellow;
          }

          &.ts,
          &.tsx {
            background: #0026ff;
          }

          &.py {
            background: #4781ff;
          }

          &.cpp {
            background: #e415ff;
          }

          &.c {
            background: #ff15c4;
          }
        }
      }
    }
  }
}

.project-bottom {
  width: 100%;
  display: flex;
  margin-top: auto;

  .open-btn {
    background: rgba(95, 151, 255, 0.486);
    color: #f1f1f1;
    padding: 5px 10px;
    margin-left: auto;
    border-radius: 8px;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
